html,body {
 font-family: 'Raleway', sans-serif;
}

.button {
  &-primary {
    color: #fff;
    padding: 15px 35px;
    background-color: #ef1b49;
    a {
      color: #fff;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }

  &-secondary {
    color: #fff;
    padding: 15px 35px;
    background-color: green;
    a {
      color: #fff;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }

  &-link {
    text-decoration: underline;
    &--red {
      color: red;
    }
    &--black {
      color: black;
    }
  }
}