.navbar {
  background-color: #fff;
  &__wrapper {
    height: 120px;
  }

  &__infonav {
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: #fff;
    background-color: #ef1b49;
    min-height: 35px;
    padding: 10px;
  }

  &__logo {
    width: 234px;
    height: 32px;
    background-size: cover;
    background-position: center;
  }
}