.industries-preview {
  margin-top: 30px;

  &-section {
    &__title {
      font-weight: bold;
      font-size: 23px;
      background-color: #fff;
      position: relative;
      z-index: 1;
      padding-right: 25px;
    }

    &__line {
      position: absolute;
      z-index: 0;
      top: 18px;
      width: 100%;
      height: 1px;
      background-color: #dee2e6;
    }
  }

  &-details {
    max-width: 500px;
  }

  &-price {
    width: 300px;
  }
}