@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
/*Theme Name: datantify*/
html, body {
  font-family: 'Raleway', sans-serif; }

.button-primary {
  color: #fff;
  padding: 15px 35px;
  background-color: #ef1b49; }
  .button-primary a {
    color: #fff; }
    .button-primary a:hover, .button-primary a:focus {
      text-decoration: none; }

.button-secondary {
  color: #fff;
  padding: 15px 35px;
  background-color: green; }
  .button-secondary a {
    color: #fff; }
    .button-secondary a:hover, .button-secondary a:focus {
      text-decoration: none; }

.button-link {
  text-decoration: underline; }
  .button-link--red {
    color: red; }
  .button-link--black {
    color: black; }

.navbar {
  background-color: #fff; }
  .navbar__wrapper {
    height: 120px; }
  .navbar__infonav {
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: #fff;
    background-color: #ef1b49;
    min-height: 35px;
    padding: 10px; }
  .navbar__logo {
    width: 234px;
    height: 32px;
    background-size: cover;
    background-position: center; }

.front-page__header {
  font-weight: 700;
  font-size: 36px;
  text-align: center; }

.industries__search {
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.42); }
  .industries__search:focus {
    outline: none; }

.industries__select {
  width: 300px; }

.industries-preview {
  margin-top: 30px; }
  .industries-preview-section__title {
    font-weight: bold;
    font-size: 23px;
    background-color: #fff;
    position: relative;
    z-index: 1;
    padding-right: 25px; }
  .industries-preview-section__line {
    position: absolute;
    z-index: 0;
    top: 18px;
    width: 100%;
    height: 1px;
    background-color: #dee2e6; }
  .industries-preview-details {
    max-width: 500px; }
  .industries-preview-price {
    width: 300px; }

